node_modules
settings.json
etc/wally-release
CMakeFiles
Makefile
src/wallyc
src/wallystart
*.o
*.so
*.lo
*.la
.libs
.deps
cmake_install.cmake
CMakeCache.txt
install_manifest.txt
src/autoversion.h
*/cmake_install.cmake
src/wallypixel
src/wallyvideo
src/wallyvideo.dSYM/Contents/Info.plist
src/wallyvideo.dSYM/Contents/Resources/DWARF/wallyvideo
test.json
